extends ../template

block variables
    - var title = 'Обо мне'

block content
   
    section.section.hero
        .intro__webgl(id="webgl")
        .container.container_hero
            header.header
                include ../common/header_social.pug
                include ../common/hamburger.pug
            .hero__title
                .hero__title-img
                    svg.hero__title-icon
                        use(xlink:href='../../assets/images/sprite.svg#portfolio_header')
                .user
                    .user__pic
                        img.user__pic-img(src="../../assets/images/foto.jpg" alt="avatar")
                    .user__description
                        .user__name Владимир Астахов
                        .user__info Личный сайт разработчика
            .scroll
                button.scroll__link(type="button")
                    svg.scroll__icon
                        use(xlink:href='../../assets/images/sprite.svg#arrow_down')

    section.section.about
        .triangle-left.about__triangle-left
            
        .triangle-right.about__triangle-right   
        .container.about__container
            .about__left
                
                .about__left-container
                    .about__left-title
                        .title-img
                            svg.title-icon
                                use(xlink:href='../../assets/images/sprite.svg#about_header')
                        h1.block-title Обо мне
                    .about__left-content
                        .user-description
                            .user-description__image
                                img.user-description__avatar(src='../../assets/images/foto.jpg' alt='foto')
                        .user-description__title
                            h2.block-subtitle Кто я
                        .user-description__text.text-content
                            p Я веб разработчик из Новосибирска. Мне 27 лет. Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
                            p Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
            .about__right
                .about__right-container
                    .about__right-title
                        h2.block-subtitle Чем я могу быть вам полезен
                    .about__right-text
                        p Больше всего меня привлекет Frontend разработка, но я также знаком и могу решать не сложные задачи на Backend. Но давайте по порядку.
                    .about__right-content
                        
                        ul.skills__list 
                            li.skills__list-item
                                .skills__row
                                    .skills__row-title Frontend
                                    ul.skills__row-list
                                        - 
                                            var circles = [
                                                ['HTML5', 'circle-70'],
                                                ['CSS', 'circle-50'],
                                                ['JavaScript & jQuery ', 'circle-20'],
                                            ]
                                        each circle in circles
                                            li.skills__row-item
                                                .skill__title 
                                                    p.skill__title-text #{circle[0]}    
                                                .skill
                                                    svg.skill__circle(viewBox='0 0 110 110')
                                                        circle.skill__circle-first(r="45" cx="50%" cy="50%" fill="none")
                                                        circle(class='skill__circle-second '+`${circle[1]}` r="45" cx="50%" cy="50%" fill="none" transform="rotate(-90 55 55)")
                            li.skills__list-item
                                .skills__row
                                    .skills__row-title Backend
                                    ul.skills__row-list.backend
                                        - 
                                            var circles = [
                                                ['PHP', 'circle-15'],
                                                ['MySQL', 'circle-20'],
                                                ['Nod.js & npm', 'circle-10'],
                                                ['Mongo.db', 'circle-0'],
                                                  
                                            ]
                                        each circle in circles
                                            li.skills__row-item
                                                .skill__title 
                                                    p.skill__title-text #{circle[0]}    
                                                .skill
                                                    svg.skill__circle(viewBox='0 0 110 110')
                                                        circle.skill__circle-first(r="45" cx="50%" cy="50%" fill="none")
                                                        circle(class='skill__circle-second '+`${circle[1]}` r="45" cx="50%" cy="50%" fill="none" transform="rotate(-90 55 55)")
                            li.skills__list-item
                                .skills__row
                                    .skills__row-title WorkFlow
                                    ul.skills__row-list
                                        - 
                                            var circles = [
                                                ['Git', 'circle-70', 'git'],
                                                ['Gulp', 'circle-50', 'gulp'],
                                                ['Bower', 'circle-10', 'bower'],
                                            ]
                                        each circle in circles
                                            li(class='skills__row-item '+`${circle[2]}`)
                                                .skill__title 
                                                    p.skill__title-text #{circle[0]}    
                                                .skill
                                                    svg.skill__circle(viewBox='0 0 110 110')
                                                        circle.skill__circle-first(r="45" cx="50%" cy="50%" fill="none")
                                                        circle(class='skill__circle-second '+`${circle[1]}` r="45" cx="50%" cy="50%" fill="none" transform="rotate(-90 55 55)")
    section.section.section_map
        script( src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDbBOkpHPvZFwo1XqG_tJyU-ICQl8mLyY4&callback=initMap" async defer)
        .google-map(id='map')
          
        .container.contact__container
            .contact
                .contact__title
                    h2.contact__title-text контакты
                ul.contact__list
                    - 
                        var contacts = [
                            ['../../assets/images/sprite.svg#skype', 'skype_kdn'],
                            ['../../assets/images/sprite.svg#envelope', 'astahov@gmail.com'],
                            ['../../assets/images/sprite.svg#phone', '+7 931 200 93 24'],
                            ['../../assets/images/sprite.svg#map_marker', 'Новосибирск, ул. Инская, д.14'],
                        ]
                    each contact in contacts
                        li.contact__item
                            .contact__item-content
                                .contact__item-img
                                    svg.contact__item-icon  
                                        use(xlink:href=`${contact[0]}`)
                                .contact__item-text #{contact[1]}
        include ../common/footer.pug   